.header {
  position: fixed;
  height: 55px;
  top: 0;
  right: 0;
  left: 260px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(199, 199, 199);
  align-items: center;
  display: flex;
  background-color: white;
  z-index: 200;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:130px;
}

.video-play-section {
  display: flex;
  align-items: center;
}

.video-play-section img {
  width: 24px;
  height: 24px;
}

.audio-time-control {
  width: 27px;
  height: 27px;
}

.video-play-section button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.audio-time-control,
.main-play-button,
.main-pause-button {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.video-play-section button:hover {
  opacity: 0.7;
}


.main-pause-button {
  display: none;
}

.main-pause-button img {
 margin-top: 3px;
}

.audio-playing .main-pause-button {
  display: initial;
}

.audio-playing .main-play-button {
  display: none;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left:140px;
  margin-right: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 199, 199);
  padding: 0;
  max-width: 600px;
  position: relative;
}

.middle-section img {
  object-fit: contain;
  width: 40px;
  height: 100%;
}

.apple-log-izeroplay {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-podcast-channel {
 display: none;
}

.title-podcast-channel-display {
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.marquee-container {
  width: 350px;
  overflow-x: hidden;
}

.title-podcast {
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}

.title-podcast-long {
  animation: scroll 12s linear infinite alternate ;
}

.scroll {
  animation: scroll 12s linear infinite alternate;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-300px);
  }
}

.header .channel-name {
  font-size: 12px;
  color: rgba(109, 106, 106, 0.8);
  font-weight: 600;
}

.audio-playing .apple-log-izeroplay{
  display: none;
}

.audio-playing .title-podcast-channel {
  display: initial;
}

.range-time-control {
  position:absolute;
  bottom: -2px;
  right: -2px;
  left: 38px;
  -webkit-appearance: none; 
  outline: none;
  appearance: none;
  cursor: pointer;
  height: 6px;
  background: rgb(193, 193, 193);
}


.range-time-control::-webkit-slider-thumb {
  height: 13px;
  width: 3px;
  background: rgb(120, 119, 119);
  margin-top: -1px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  transition: .2s ease-in-out;
}

#range-volume-control {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  background: rgb(206, 205, 205);
  height: 4px;
  width: 90px;
  border-radius: 50px;
}

#range-volume-control::-webkit-slider-thumb {
  background: white;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border-color: rgb(129, 128, 128);
  border-style: solid;
  border-width: 1px;
  transition: .2s ease-in-out;
  height: 13px;
  width: 13px;
  border-radius: 7px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
}

.right-end-section {
  display: flex;
  align-items: center;
  margin-right: 10px;
}


.exclamation-button, 
.menu-button, 
.profile-image-button {
  width:40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.signin-button {
  background-color: #7224d8;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.right-end-section button:hover {
  opacity: 0.75;
}

.right-end-section img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.profile-image-button {
  display: none;
}

.user-signed-in .profile-image-button {
  display: initial;
}

.user-signed-in .signin-button {
  display: none;
}

.profile-tooltip {
  position: absolute;
  right: 45px;
  top: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(236, 231, 231, 0.678);
  padding: 0;
  display: none;
}


.logout-button, 
.profile-button {
  border: none;
  background-color: white;
  width: 100%;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(201, 197, 197);
  font-size: 16px;
  cursor: pointer;
  padding:5px 90px 5px 5px;
}

.profile-tooltip button:hover {
  background-color: rgb(224, 223, 223);
}

.logout-button {
  color: red;
  border: none;
}


