.login-form-container,
.signup-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background-color: rgb(216, 216, 216);
  padding: 40px;
  left:650px;
  top: 100px;
  border-radius: 9px;
  display: none;
  text-align: center;
}

.signing-in .login-form-container {
  display: initial;
}

.signing-in .signup-form-container {
  display: none;
}

.signing-up .signup-form-container {
  display: initial;
}

.signing-up .login-form-container {
  display: none;
}

.login-form-container img,
.signup-form-container img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.login-form,
.signup-form {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form .row-form,
.signup-form .row-form {
  height: 45px;
  margin:10px 0;
}

.login-form input,
.signup-form input{
  font-size: 17px;
  padding: 14px;
  border-style: solid;
  border-radius: 9px;
  border-width: 1px;
  border-color: silver;
}

.login-form input:focus,
.signup-form input:focus {
  border-color: lightblue;
}

#continue-button,
#signup-button,
#register-button,
#login-button{
  background-color: #7224d8;
  color: white;
  font-weight: bold;
  padding: 6px 26px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.signup-link {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.signup-link button{
  font-size: 16px;
  padding: 6px 20px;
}

.x-button {
  border-radius: 20px;
  border: none;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

.x-button:hover {
  opacity: 0.7;
}




