.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  width: 260px;
  background-color: rgba(175, 175, 175, 0.13);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(199, 199, 199);
}

.sidebar-top {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.apple-logo-title {
  display: flex;
  align-items: center;
  padding: 19px 25px;
  padding-bottom: 0;
}

.logo {
  width: 20px;
  height: 20px;
}

.title {
  font-size: 25px;
  font-weight: 600;
}

.search-bar-container {
  padding: 0px 25px;
}

.search-bar-container input {
  padding:4px;
  width: 165px;
  border-color: rgb(199, 199, 199);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.search-bar-container input::placeholder {
  color: rgb(168, 165, 165);
  font-size: 13px;
}

.sidebar-under-top {
  padding-top: 6px;
}

.sidebar-buttons-list  {
  padding: 0 25px 9px 25px;
}

.sidebar-buttons-list li {
  margin-bottom: 2px;
}

.button-navigation {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 180px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.button-navigation:hover {
  background-color: rgb(230, 229, 229);
}

.button-navigation img {
  width: 25px;
  height: 25px;
  margin-top: 3px;
}

.button-navigation span {
  font-size: 15;
}

