.latest-ep-container {
  position: relative;
  margin-bottom: 10px;
}

.latest-episodes-scroll-container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;

}

.latest-episodes-scroll-container::-webkit-scrollbar {
  display: none; /* WebKit */
}


.latest-ep-label,
.popular-shows-label {
  font-size: 20px;
  font-weight: 600;
  color: rgb(71, 71, 71);
  margin-bottom: 20px;
}

.latest-episodes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  scroll-snap-align: start;
  gap: 20px;
  width: 200%;
}

.scroll-buttons {
  position: absolute;
  top: 50%;
  left: -25px;
  right: -10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.scroll-buttons button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.scroll-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.latest-podcast-episodes {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}

.podcast-image-container-latest {
  margin-right: 10px;
}

.podcast-image-container-latest .podcast-channel-profile-image {
  width: 95px;
  height: 95px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 230, 230);
}

.podcast-title-date {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(195, 195, 195);
  padding-bottom: 10px;
}

.posted-date-two {
  color: rgba(81, 80, 80, 0.429);
  margin:0;
}


.podcast-title-two, 
.podcast-description-two {
  color: rgb(109, 109, 109);
  width: 100%;
  max-width: 500px;
}

.podcast-title-two {
  color: black;
}

.podcast-description-two {
  margin-bottom: 7px;
}


.purple-play-button,
.purple-pause-button {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 20px;
  top: 28px;
  left: 28px;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0;
}

.purple-play-button:hover,
.purple-pause-button:hover {
  background-color: rgb(112, 46, 112);
}

.purple-play-icon,
.purple-pause-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-top: 4px;
}

.purple-pause-icon {
  margin-top: 5px;
  margin-right: 3px;
}

.purple-pause-button-container {
  display: none;
}

.latest-podcast-episodes:hover .purple-play-button {
  opacity: 1;
}

.latest-podcast-episodes:hover .purple-pause-button {
  opacity: 1;
}

.audio-playing .purple-play-button-container {
  display: none;
}

.audio-playing .purple-pause-button-container {
  display: initial;
}
 
.latest-podcast-episodes:hover .podcast-channel-profile-image {
  opacity: 0.9;
}

.latest-podcast-episodes:hover .podcast-title-two {
  text-decoration: underline;
}