.popular-shows-grid,
.recently-played-grid {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: 40px;
  gap: 20px;
  scroll-snap-type: x mandatory;
  grid-auto-columns: 220px;
  width: calc(5 * 240px)
}

.popular-channel {
  scroll-snap-align: start;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

.popular-channel .purple-play-button {
  top: auto;
  bottom: 40px;
  left: 6px;
  width: 35px;
  height: 35px;
}

.popular-channel .purple-play-icon {
  height: 25px;
  width: 25px;
  border: none;
}

.popular-channel:hover .purple-play-button {
  opacity: 1;
}


.popular-channel-profile img {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 230, 230);
  border-radius: 4px;
}

.update-schedule, 
.show-type {
  color: rgb(109, 109, 109);
  font-size: 12px;
}

.show-type {
  font-size: 13px;
  color: rgb(39, 39, 39);
  font-weight: 500;
}

.recently-played-grid {
  grid-auto-columns: 600px;
}